<header class="container-fluid header">
  <div class="container">
      <div class="row">
          <div class="col-6">Logotipo</div>
          <div class="col-6 text-right" *ngIf="hasShowTitle">{{title}}</div>
      </div>
  </div>
</header>
