<footer class="container-fluid footer">
  <div class="container">
      <div class="row">
          <div class="col-6">Footer</div>
          <div class="col-6 text-right">
              <button *ngIf='hasShowButton' type="button" class="btn btn-info">{{titleButton}}</button>
          </div>
      </div>
  </div>
</footer>
